.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;

  .dividerContainer {
    width: 1px;
    height: 16px;
    background-color: var(--divider-color);
  }
}
