.container {
  min-height: 100vh;

  .itemContainer {
    padding: 96px 48px;
    .eventTagContainer {
      margin: 0 auto;
    }

    .menuContainer {
      & p {
        color: var(--font-color-black);
        font-size: 12px;
        font-weight: var(--font-weight-normal);
      }
    }

    .buttonContainer {
      margin: 0 auto;
    }
  }
}
