.button {
  width: 40px;
  height: 16px;
  font-size: 4px;
  font-weight: var(--font-weight-important);
  border-radius: 2px;
  color: var(--font-color-white);
  background-color: #fc8181;
  text-align: center;
}
