.buttonContainer {
  display: flex;
  padding: 12px 28px;
  font-size: var(--sm);
  font-weight: var(--font-weight-important);
  background-color: var(--white);
  border-radius: 90px;
  align-items: center;
}
