.container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.todoContainer {
  .title {
    font-size: 40px;
    color: var(--font-color-black);
    font-weight: var(--font-weight-important);
  }
}

.otherContainer {
  margin-top: 24px;
  margin-left: 12px;
}
